<!DOCTYPE html>
<html lang="en">

<head>
  <title>Simple Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="<?= BASE_URL ?>/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="<?= BASE_URL ?>/bootstrap/bootstrap-icons.css">
  <script src="<?= BASE_URL ?>/bootstrap/bootstrap.js" defer></script>
  <script src="<?= BASE_URL ?>/js/confirmation.js" defer></script>
  <script src="<?= BASE_URL ?>/js/validation.js" defer></script>
  <script src="<?= BASE_URL ?>/js/notification.js" defer></script>
</head>

<style>
  /* some hacks for responsive sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    /* height of navbar */
  }

  .sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  a.disabled-link {
    pointer-events: none;
    opacity: 0.6;
    text-decoration: none;
  }
</style>